tasks/xml_schulungsfirma_burgstaller/schulungsfirma.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="schulungsfirma">
      <oneOrMore>
        <element name="person">
          <attribute name="fname">
            <data type="string"/>
          </attribute>
          <attribute name="land">
            <data type="string"/>
          </attribute>
          <attribute name="ort">
            <data type="string"/>
          </attribute>
          <attribute name="pnr">
            <data type="integer"/>
          </attribute>
          <attribute name="vname"/>
          <optional>
            <element name="referent">
              <attribute name="gebdat">
                <data type="date"/>
              </attribute>
              <attribute name="seit">
                <data type="date"/>
              </attribute>
              <optional>
                <attribute name="titel">
                  <data type="string"/>
                </attribute>
              </optional>
            </element>
          </optional>
          <zeroOrMore>
            <element name="besucht">
              <optional>
                <attribute name="bezahlt">
                  <data type="date"/>
                </attribute>
              </optional>
              <attribute name="knr">
                <data type="integer"/>
              </attribute>
              <attribute name="knrlfnd">
                <data type="integer"/>
              </attribute>
            </element>
          </zeroOrMore>
        </element>
      </oneOrMore>
      <oneOrMore>
        <element name="kurs">
          <attribute name="bezeichn">
            <data type="string"/>
          </attribute>
          <attribute name="knr">
            <data type="integer"/>
          </attribute>
          <attribute name="preis">
            <data type="decimal"/>
          </attribute>
          <attribute name="tage">
            <data type="integer"/>
          </attribute>
          <zeroOrMore>
            <element name="setztvor">
              <attribute name="knrvor">
                <data type="integer"/>
              </attribute>
            </element>
          </zeroOrMore>
          <oneOrMore>
            <element name="geeignet">
              <attribute name="pnr">
                <data type="integer"/>
              </attribute>
            </element>
          </oneOrMore>
          <zeroOrMore>
            <element name="kveranst">
              <attribute name="bis">
                <data type="date"/>
              </attribute>
              <attribute name="knrlfnd">
                <data type="integer"/>
              </attribute>
              <attribute name="ort">
                <data type="string"/>
              </attribute>
              <attribute name="plaetze">
                <data type="integer"/>
              </attribute>
              <optional>
                <attribute name="referent">
                  <data type="integer"/>
                </attribute>
              </optional>
              <attribute name="von">
                <data type="date"/>
              </attribute>
            </element>
          </zeroOrMore>
        </element>
      </oneOrMore>
    </element>
  </start>
</grammar>
