tasks/trails/trails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="park">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="trail"/>
      </xs:sequence>
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="trail">
    <xs:complexType mixed="true">
      <xs:attribute name="climb" use="required" type="xs:NCName"/>
      <xs:attribute name="dist" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
