tasks/trails/trails.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="park">
      <attribute name="name"/>
      <oneOrMore>
        <element name="trail">
          <attribute name="climb">
            <data type="NCName"/>
          </attribute>
          <attribute name="dist">
            <data type="integer"/>
          </attribute>
          <text/>
        </element>
      </oneOrMore>
    </element>
  </start>
</grammar>
